---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Intro from "@/components/Intro.astro";
import ImageGallery from "@/components/ImageGalery.astro";
import PostList from "@/components/PostList.astro";
import Card from "@/components/Card.astro";
import Cv from "@/components/Cv.tsx";

const article = 
	{ title: "Crafting a design system for a multiplanetary future",
		body: "Most companies try to stay ahead of the curve when it comes to visual design, but for Planetaria we needed to create a brand that would still inspire us 100 years from now when humanity has spread across our entire solar system.",
		href: "/blog/crafting-a-design-system-for-a-multiplanetary-future"
	}


---

<Layout title="Welcome to Astro.">
  <Header />
  <Intro />
  <ImageGallery />
  <div class="sm:px-8 mt-24 md:mt-28">
      <div class="mx-auto w-full max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
              <div
                class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
              >
                <div>
                  <PostList>
                    <Card title={article.title} body={article.body} href={article.href}/>
                    <Card title={article.title} body={article.body} href={article.href}/>
                    <Card title={article.title} body={article.body} href={article.href}/>

                  </PostList>
                </div>
                <div class="space-y-10 lg:pl-16 xl:pl-24">
                  <Cv client:visible/>
                </div>
              </div>
            
          </div>
        </div>
      </div>
  </div>
</Layout>
